h1 Minecraft Monitor

p Continuos logging

#logger

    #text

#buttons
    .button
        span.img
        span ciao
    .button
        span.img &nbsp
        span prova

script(src="/socket.io/socket.io.js")
script(type='text/javascript')
  var socket = io.connect('http://localhost');
  socket.on('news', function (data) {
    console.log(data);
    $('#text').append('<p>' + data + '</p>');
    socket.emit('my other event', { my: 'data' });
  });
